.admin {
  label {
    display: inline-block;
    width: 120px;
    text-align: left;
  }

  input {
    width: 200px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .active {
    font-weight: bold;
  }

}
