.account {
  ul {
    list-style-type: none;
    padding: 0px;
  }

  label {
    display: inline-block;
    width: 120px;
    text-align: left;
  }

  input {
    width: 200px;
  }

  .active {
    font-weight: bold;
  }

}
