.categories {
  label {
    display: inline-block;
    width: 120px;
    text-align: left;
  }

  input {
    width: 200px;
  }

  .refreshBtn {
    margin-left: 20px;
  }
  .idCol {
    width: 5%;
  }
  .colorCol {
    width: 20%;
  }
  .sprocketsCol {
    width: 20%;
    text-align: right;
    input {
      text-align: right;
    }
  }
  .ownerCol {
    width: 30%;
  }
  .buttonCol {
    width: 25%;
    :global(.btn) {
      margin: 0 5px;
    }
  }
  tr.saving {
    opacity: 0.8;
    :global(.btn) {
      &[disabled] {
        opacity: 1;
      }
    }
  }

}
