$primary: #7265D6;
$primarydk: #4A458C;
$accent: #88CF69;

$able: #88CF69;
$ifneedbe: #023152;
$maybe: #7265D6;
$unable: #ffffff;
$lightgray: #F9F8F8;
$mediumgray: #F9F8F8;
$darkgray: #ccc;

.eventdetail {
	padding: 15px 0 0 0;
}

@media screen and (max-width: 600px) {
	.eventdetail {
			display: block;
	}
}

.response-time-table {
	width: 100%;
	border: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0;
	tr {
		padding: 0px;
		margin: 0px;
		border: 0px;
	}
}

.response-cell {
	width: 30%;
	padding: 0px;
}

.response-cell-btn {
	height: 100%;
	width: 100%;
	background-color: $lightgray;
	border: solid 1px $darkgray;
	border-radius: 0px;
	color: #D8D5D5;
	display: block;
}

.response-cell-btn:hover {
	background-color: $mediumgray;
}

.able, .able:hover {
	background-color: $able;
	color: white;
}

.ifneedbe, .ifneedbe:hover {
	background-color: $ifneedbe;
	color: white;
}

.maybe, .maybe:hover {
	background-color: $maybe;
	color: white;
}

.unable {
	background-color: $lightgray;
}

.unable:hover {
	background-color: $mediumgray;
}

.list-times {
	padding: 30px 0 0 0;
}


.btn-group-yesmaybe {
	width: 100%;
}

.btn-yesmaybe {
	width: 33%;
}

#stick-top {
	position: fixed;
	top: 0px;
	z-index: 20000;
	padding: 0 30px 0 0;
	button {
		margin-right: 30px !important;
	}
}

#stick-top > div {
	margin-right: 30px;
	/*border-bottom: solid 1px $darkgray;*/
}

#stick-bottom {
	padding: 0 30px 0 0;
	position: fixed;
	bottom: 0px;
	z-index: 20000
}

.datepicker-sm {
	margin: 20px 0 0 0;
	table {
		width: 100%;
		th {
			font-size: 20px;
			font-weight: 400;
			button {
				width: 100%;
			}
		}
		tr {
			height: 60px;
			button {
				height: 60px;
			}
		}
		td {
			width: 14%;
		}
	}
	.btn {
		padding: 0px;

	}
	.btn.btn-default {    //This is for datepicker wells
	  font-size:20px;
	}
	.btn.btn-info {    //This is for datepicker wells
	  background-color: $primary;
	  border-color: $primarydk;
	}
}
